.container {
  min-height: 100vh;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: -webkit-linear-gradient(220deg, #222222, #000000);
  color: white;
}

.dashboardContainer {
  width: 80%;
  display: flex;
  flex-direction: left;
  padding-top: calc(2.75em + 40px);
}

@media only screen and (max-width: 1024px) {
  .dashboardContainer {
    width: 92%;
  }
}