@import url("https://use.typekit.net/gic0mki.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Neue Haas Grotesk Display', 'helvetica neue','Aktiv Grotesk Ex',-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
