.Navbar {
    width: 100%;
    height: 2.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    position: fixed;
    color: white;
    background-color: black;
    z-index: 99;
}

.navLeft {
    margin-left: 30px;
    height: 2.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.navRight {
    margin-right: 30px;
    height: 2.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.rightGroup {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.profilePic {
    height: 2em;
    border-radius: 50%;
    margin: 0px 8px;
}

.logButton {
    height: 2em;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    margin: 0px 8px;
    border: 1px solid #e0e0e0;
}

.logButton:hover {
    color: black;
    border: 1px solid transparent;
	background-image: -webkit-linear-gradient(69deg, #00FF00, #00FFFF);
    -webkit-animation: hue 20s infinite linear;
    transform: scale(1.02);
    transition: 0.2s;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

.userState {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navLink {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
}

.navLink:hover {
    transition: 0.1s ease-in-out;
    border-bottom: 2px solid  #00FFFF;
}

.color {
    font-family: aktiv-grotesk-extended, "helvetica neue", sans-serif;
    font-weight: bold;
    margin: 0px 8px;
}

.color:hover {
    color: #00FFFF;
    transition: 0.1s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .navLeft {
        display: none;
    }
    .navRight {
        width: 100%;
        margin-left: 20px;
    }
}